.app {
  display: grid;
  grid-template-columns: 750px;
  grid-template-rows: repeat(5, auto);
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: rgb(83, 79, 79);
}

.task1header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.task1content {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.task2header {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.task2content {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.border {
  border: 1px solid black;
  padding: 7px;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid black; 
  padding: 3px 2px 3px 4px
}

.btn {
  float: right;
  border-radius: 5px;
}