.app {
  width: 670px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  border: 1px solid black;
  border-bottom: none;
  font-size: 1.2rem;
  font-weight: bold
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: rgb(83, 79, 79);
  padding: 5px 7px 0px 17px;
}

.task1header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 1.5rem;
}

.task1content {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.task2header {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 1.5rem;
}

.task2content {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  height: 170px;
}

.border {
  border-bottom: 1px solid black;
  padding: 7px 2px 6px 14px
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid black; 
  padding: 3px 2px 3px 4px;
  overflow: hidden;
  margin-left: -40px;
}

.btn {
  float: right;
  border-radius: 5px;
  font-size: 1.2rem;
}

.flex{
  display: flex;
}
div.left, div.right{
  flex-basis: 49%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 7px 10px;
}
div.tsk2 {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center
}

.submitBtn{
  width: 200px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.1rem;
  align-self: flex-end;
}
input{
  font-size: 1.2rem;
}
a {
  position: relative;
  color: rgb(240, 72, 66);
  bottom: 20px;
  margin: auto;
  margin-right: 20px;
}
p{
  margin-top: -20px
}
p:last-child{
  margin-left: 230px;
}